body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

input {
  padding: 0.5rem;
  flex: 1;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}
